.item-add-form {
	margin-top: 10px;
}

.item-add-form input {
  margin-right: 3px;
}


.form-control {
	background-color: transparent;
  color: aquamarine !important;
  border-color: aquamarine;
}

.form-control:focus {
  background-color: transparent !important;
}